
@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Hello, @User.Identity.Name</p></li>
@*         <li><a onclick="document.getElementById('logout_form').submit();" style="cursor: pointer;">Log out</a></li> *@

        <li><a asp-controller="Account" asp-action="Logout">Log in</a></li>
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}