@{
    ViewData["Title"] = "PatientLogin";
    Layout = "";
}
@model Zencareservice.Models.Login

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="PatientLogin">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/my-login.css">
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.png">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <img src="~/images/signup-zencare.png" alt="logo">
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align:center">PATIENT LOGIN</h4>
                            <form method="POST" class="my-login-validation" novalidate="" asp-action="Login" asp-controller="Account">
                                <div class="form-group">
                                    <label asp-for="Username">UserName or Email Address</label>
                                    <input id="username" type="text" class="form-control" asp-for="Username" required autofocus />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                    <a asp-action="OTPLogin" asp-controller="Account" class="float-right">&#x1F512; OTPLogin</a>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Password">Password</label>
                                    <input asp-for="Password" id="password" type="password" class="form-control" required data-eye>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <a asp-action="PatForgot" asp-controller="Account" class="float-right">Forgot Password?</a>
                                </div>

                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                                </div>
                            </form>

                            <div class="mt-4 text-center">
                                <p>Or</p>
                                <a class="btn btn-outline-danger btn-block"  href="/Account/GoogleLogin">Sign in with Google</a>
                                <p>Don't have an account? <a asp-action="PatientRegister" asp-controller="Account">Create One</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" crossorigin="anonymous"></script>
    <script src="~/js/my-login.js"></script>
    <script src="~/js/toast.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var swalMessage = '@TempData["SwalMessage"]';
            var swalType = '@TempData["SwalType"]';

            if (swalMessage !== '') {
                showSweetAlert(swalType, swalMessage);
            }

            var message = '@ViewBag.Message';
            switch (message) {
                case 'Invalid':
                    showSweetAlert('error', 'Invalid', 'Invalid username or Password!');
                    break;
                case 'UpdatedPassword':
                    showSweetAlert('success', 'UpdatedPassword', 'UserAccountSuccessfullyUpdated!');
                    break;
            }
        });

        function showSweetAlert(icon, title, text) {
            Swal.fire({
                icon: icon,
                title: title,
                text: text,
                showConfirmButton: false,
                timer: 1500 // Adjust the timer as needed
            });
        }
    </script>
</body>
</html>
