@model Microsoft.AspNetCore.Mvc.ProblemDetails
@{
    ViewData["Title"] = "Error";
    Layout = "_AdminLayout";
}
<h1 class="text-danger">An error occurred while processing your request.</h1>

<p>Exception Details: @Model.Title</p>
<p>Stack Trace: @Model.Detail</p>